<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955208030323-5ilvusrn06hiv2fuhfc35cjvl3g3vpgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955208030323-5ilvusrn06hiv2fuhfc35cjvl3g3vpgo</string>
	<key>API_KEY</key>
	<string>AIzaSyD1-C22wQAsYNFmtHc5B7P5e3EWNkz1qk4</string>
	<key>GCM_SENDER_ID</key>
	<string>955208030323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meaSmartProjectManagement</string>
	<key>PROJECT_ID</key>
	<string>ggdemo-212710</string>
	<key>STORAGE_BUCKET</key>
	<string>ggdemo-212710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955208030323:ios:ab0390ae8c3526d4</string>
	<key>DATABASE_URL</key>
	<string>https://ggdemo-212710.firebaseio.com</string>
</dict>
</plist>